<!DOCTYPE html>
<html>
  <head>

    <title>Exam2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul id="navbar">
    <% if current_user %>
      <li class="navbart pull-right"><a href="#"> Cart </a> </li>
      <li class="navbart pull-right"><%= link_to 'Log out' , destroy_user_session_path, method: :delete%> &nbsp &nbsp</li>
    <% else %>
      <li class="navbart pull-right"><%= link_to 'Log in' , new_user_session_path , class: "sessionbuttons"%> &nbsp &nbsp</li>
    <% end %>

    <li class="navbart pull-right"><a href="#">About</a></li>
    <li class="navbart"><a href="/">Z-Mobile</a></li>

  </ul>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <footer id="footer"><p>Contact Us: phone: 133, mail: user@user.cl</p>
    <p> &copy; Z-Mobile, solutions for you. </p></footer>
  </body>
</html>
